body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* background-color: #303030; */
}
#aboutMe{
    width: 50vw;
    display: flex;
    font-size: 3vh;
}
#aboutMe p{
    margin:1.3vw;
}
#map {
    position: absolute;
    height: 80%;
    width: 50VW;
    right:0;
}