html{
    background-image: url("Images/testBackground.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
@keyframes animatedBackground {
    from {
        background-position: 0 100%;
    }
    to {
        background-position: 100% 0;
    }
    }
body{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: block;
    margin: 0;
}
body, main, section{
    background-image: url(Images/starFlicker.png);
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: animatedBackground 20s linear infinite alternate;
}
header{
    height: 70vh;
}
#object{
    display: flex;
    justify-content:flex-end;
}
#moon{
    
    width: 50vw;
    max-width: 500px;
}
section , header{
    padding-left: 2vw;
    padding-top: 20vh;
}
h1{
    position: relative;
    color: #86C232;
    font-size: 10rem;
    margin-top: 20vh;
    margin-bottom: 0px;
}
#Title, .Arrow{
    position: relative;
    font-size: 4rem;
    margin: 0px;
    color: #F2F4F3;
    margin-left: 3vw;
}
a{
    color: #2E86AB;
}
h2{
    color: #86C232;
}
h3{
    color: #5e6572;
}
p{
    color: #F2F4F3;
}
li{
    color: #F2F4F3;
    display: inline-block;
}
form div label{
    font-size: 2rem;
}
.portfolioList{
    font-size: 0px;
    display: flex;
}
nav ul{
    padding: 0;
    margin: 0;
    width: 100vw;
}
.portfolioList a{
    position: relative;

}
.portfolioList a, .portfolioList li{
    font-size: 0px;
}
.portfolioList li{
    overflow: hidden;
}
.portfolioList img{
    display: block;
    width: 25vw;
    transition:  .5s ease;
}
.portfolioList img:hover{
    transform: scale(1.2);
}

.portfolioList .clickMe p{
    position: absolute;
    top: 10vh;
    left: 0;
    margin: 0 auto;
    height: 100px;
    width: 15vw;
    font-size: 5vh;
    background-color: #303030;
    border-radius: 50%;
    display: none;
}

form{
    padding-bottom:1vh;
    padding:.5vh
}
input, textarea, button{
    border-radius: 5px;
    color:#86C232;
    background: #303030;
    border:none;
    padding: 5px;
    font-size: 1.3rem;
    margin:.2rem;
}
input::placeholder,textarea::placeholder{
    color:#86C232;
}  
#submitButton{
    border: 2px solid #303030;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background: 
      linear-gradient(#86C232, #86C232) bottom / 0% 2px no-repeat
      #303030;
    transition: 1s;
}
#submitButton:hover{
     background-size: 100% 2px;
} 
label{
    display: none;
}
.animation{
    color: #2E86AB;
    display:inline-block; 
    margin:0;
    text-decoration: none;
    text-transform:uppercase; 
}
.animation:hover{
    color:#86C232;
}
.animation:after{
    display:block;
    content: '';
    border-bottom: solid 3px #86C232;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.animation:hover:after { transform: scaleX(1); }
.Arrow a{
    text-decoration: none;
}
.noBorderAnimation{
    transition: ease 0.4s;
}
.noBorderAnimation:hover{
    color:#86C232;
}
#socialList{
    margin: 0;
}
.socialLink{
    font-size: 4rem;
}
