html,body{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    /*background-color: #303030;*/
    font-size: 2rem;
    content: '';
    display: block;
    background-image:url("Images/eugenio-pastoral-0gTtEsOBJDo-unsplash.jpg");
    background-size: cover;
    position: absolute;
    z-index: 0;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
   
}
header{
    height: 80vh;
}
h1{
    position: relative;
    color: #86C232;
    font-size: 10rem;
    margin-top: 20vh;
    margin-bottom: 0px;
}
#Title, #ArrowDownIndex{
    position: relative;
    font-size: 4rem;
    margin-top: 0px;
    color: #F2F4F3;
}
a{
    color: #2E86AB;
}
h2{
    color: #86C232;
}
h3{
    color: #5e6572;
}
p{
    color: #F2F4F3;
}
li{
    color: #F2F4F3;
}
#portfolioList{
    position:absolute;
    display: inline-block;
}
li{
    display: inline-block;
}
form div label{
    font-size: 2rem;
}
.portfolioList{
    font-size: 0px;
}
nav ul{
    padding: 0;
    margin: 0;

}
.portfolioList a, .portfolioList li{
    font-size: 0px;
}
.portfolioList img{
    display: block;
    width: 24vw;
}
form{
    padding-bottom:1vh;
}
input, textarea, button{
    color:#86C232;
    background: #303030;
    border:none;
    font-size: 1.3rem;
    margin:.2rem;
}
input::placeholder,textarea::placeholder{
    color:#86C232;
}
label{
    display: none;
}