/* General */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    background-image: url(Images/PatternBackground.png);
}
header img{
    width:100vw;
}
h2{
    font-size: 3vw;
}
p{
    font-size: 2vw;
}
section{
    padding: 1vh 5vw;
    width: 100%;
    color: #EFEFEF;
}
/* Title */
#title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    color:black;
}
#title h1, #title p{
    margin: 0;
}
#title h1{
    font-size: 15vw;
}
#title p{
    font-size: 4vw;
}
#title p:nth-last-of-type(2n){
    border-bottom: #791C1C solid 3px;
}
/* What Is Rumpot */
#whatIsRumpot{
    background-color: #791C1C;
    display: flex;
    align-items: center;
    justify-content: center;
}
#whatIsRumpot img{
    width:40vw;
    height:100%;
}
/* About Us */
#aboutUs{
    background-color: #003049;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
}
#aboutUs div{
    width: 100%;
    flex-basis: 500px;
}
#aboutUs img{
    width:40vw;
    height: 100%;
}
/* Form */
input, textarea{
    color: black;
    font-size: 2vw;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}
label{
    display: none;
}
#submitButton{
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}